#submit{
    -fx-background-color:#B7DB38;
    -fx-background-radius:30 30 30 30;
}

#submit1{
    -fx-background-color:#B7DB38;
    -fx-background-radius:30 30 30 30;
}

#homepage{
    -fx-background-color:#B7DB38;
    -fx-background-radius:30 30 0 30;
}

#players{
    -fx-background-color:#B7DB38;
    -fx-background-radius:30 30 0 30;
}

#plann{
    -fx-background-color:#B7DB38;
    -fx-background-radius:30 30 0 30;
}

#button{
    -fx-background-color:#B7DB38;
    -fx-background-radius:30 30 30 30;
}




