#homepage{
    -fx-background-color:#239c9c;
    -fx-background-radius:30 30 0 30;
}

#players{
    -fx-background-color:#239c9c;
    -fx-background-radius:30 30 0 30;
}

#plann{
    -fx-background-color:#239c9c;
    -fx-background-radius:30 30 0 30;
}